<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <connectionStrings>
    <add name="easynetq" connectionString="host=localhost;username=guest;password=guest;timeout=60"/>
  </connectionStrings>

  <appSettings>
    <add key="databaseName" value="DatabaseName" />
    <add key="backupFolder" value="c:\temp" />
    <add key="zipBackup" value="true" />
    <add key="serverName" value="localhost" />
    <add key="credentials" value="Integrated Security=True" />
  </appSettings>
</configuration>